/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.

  https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
*/
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 15rem), 1fr));
  grid-gap: var(--auto-grid-gap, get-size('300'));
}
.auto-grid-pochettes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 14rem), 1fr));
  grid-gap: var(--auto-grid-gap, get-size('300'));
}


.auto-grid-pochettes img {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
          transition: transform 0.1s ease-in-out;
          margin:0 auto;
}

.auto-grid-pochettes img:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}