{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.css" media="print" onload="this.media='all'" />

    <style>{% include "css/critical.css" %}</style>

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="site-wrap">
      {% include "partials/site-head.html" %}

      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>

      <footer role="contentinfo" class="site-foot">
        <div class="wrapper">
          <p>Studio Guy Rhéaume 450 449-6052
            info@studioguyrheaume.com</p>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.js"></script>
    
<script>
 var controls = ["play", "progress", "duration", "mute", "volume"];

const player = Plyr.setup(".js-player", { controls });

// Expose
window.player = player;

    for (var i in player) {
     player[i].on('play', function (instance) {
       var source = instance.detail.plyr.source;
       for (var x in player) {
         if (player[x].source != source) {
          player[x].pause();
         }
       }
     });
    }
</script>
<script src="https://product-gallery.cloudinary.com/all.js">
</script>
 <script>
  cloudinary.galleryWidget({
    container: '#pochettes',
    cloudName: 'wikilouis',
    mediaAssets: [{
      tag: "pochette"
   
    }],
    bgColor: 'yellow',
      navigation: 'none',
      thumbnailProps: {
        width: 54,
        height: 54,
        spacing: 10,
        borderWidth: 1,
        selectedStyle: 'border',
        selectedBorderWidth: 2,
        selectedBorderPosition: 'bottom',
        mediaSymbolBgShape: 'none',
        mediaSymbolIconColor: '#FFF',
        mediaSymbolSize: 24,
        navigationShape: 'square',
        navigationSize: 24,
        navigationFloat: true,
      },
  }).render();

</script>


  </body>
</html>
