<div id="pochettes" class="[ panel ]">

  <div class="auto-grid-pochettes pswp-gallery" id="my-gallery">
    <a
      href="https://res.cloudinary.com/wikilouis/image/upload/v1651760330/studio-guy-rheaume/modil/1.jpg"
      data-pswp-width="1200"
      data-pswp-height="1200"
      target="_blank"
    >
      <img class="radius"
        src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651760330/studio-guy-rheaume/modil/1.jpg"
        alt=""
      />
    </a>
    <a
      href="https://res.cloudinary.com/wikilouis/image/upload/v1651762527/studio-guy-rheaume/modil/2.jpg"
      data-pswp-width="1200"
      data-pswp-height="1200"
      target="_blank"
    >
      <img class="radius" 
        src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651762527/studio-guy-rheaume/modil/2.jpg"
        alt=""
      />
    </a>
    <a
      href="https://res.cloudinary.com/wikilouis/image/upload/v1651763114/studio-guy-rheaume/modil/3.jpg"
      data-pswp-width="1200"
      data-pswp-height="1200"
      target="_blank"
    >
      <img class="radius"
        src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651763114/studio-guy-rheaume/modil/3.jpg"
        alt=""
      />
    </a>
    <a
      href="https://res.cloudinary.com/wikilouis/image/upload/v1652283439/studio-guy-rheaume/modil/15.jpg"
      data-pswp-width="1200"
      data-pswp-height="1200"
      target="_blank"
    >
      <img class="radius"
        src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1652283439/studio-guy-rheaume/modil/15.jpg"
        alt=""
      />
    </a>
    <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651764461/studio-guy-rheaume/modil/4.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651764461/studio-guy-rheaume/modil/4.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651765006/studio-guy-rheaume/modil/5.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651765006/studio-guy-rheaume/modil/5.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651765222/studio-guy-rheaume/modil/6.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651765222/studio-guy-rheaume/modil/6.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651765555/studio-guy-rheaume/modil/7.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651765555/studio-guy-rheaume/modil/7.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651780008/studio-guy-rheaume/modil/8.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651780008/studio-guy-rheaume/modil/8.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651780624/studio-guy-rheaume/modil/9.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651780624/studio-guy-rheaume/modil/9.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651780869/studio-guy-rheaume/modil/10.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651780869/studio-guy-rheaume/modil/10.jpg"
      alt=""
    />
  </a>
  
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651781381/studio-guy-rheaume/modil/11.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651781381/studio-guy-rheaume/modil/11.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651781745/studio-guy-rheaume/modil/12.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651781745/studio-guy-rheaume/modil/12.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651782037/studio-guy-rheaume/modil/13.jpg"
    data-pswp-width="1397"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/v1651783275/studio-guy-rheaume/modil/13-th.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1651782508/studio-guy-rheaume/modil/14.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1651782508/studio-guy-rheaume/modil/14.jpg"
      alt=""
    />
  </a>
  <a
    href="https://res.cloudinary.com/wikilouis/image/upload/v1652284311/studio-guy-rheaume/modil/16.jpg"
    data-pswp-width="1200"
    data-pswp-height="1200"
    target="_blank"
  >
    <img class="radius"
      src="https://res.cloudinary.com/wikilouis/image/upload/c_thumb,w_200,g_face/v1652284311/studio-guy-rheaume/modil/16.jpg"
      alt=""
    />
  </a>
    </div>
  </div>
 <div id="studio" class="[ panel ] [ bg-tertiary ]">
    <div class="wrapper">
      <article class="[ gallery ] [ flow flow-space-800 ]">
        
          
          <p class="[ gallery__summary ] [ measure-long flow-space-800 ]">
            Guy Rhéaume oeuvre depuis plus de 35 ans dans le domaine de la production de disques. Il est à l’origine de plusieurs enregistrements à succès. Il occupe la majeure partie de son temps à travailler pour le Studio Guy Rhéaume à titre de directeur musical, conseiller à la production, responsable des arrangements sonores et ingénieur. </p>
            <h2 id="studio" class="[ text-700 md:text-800 text-shadow ]">
             Le studio</h2>
            <p class="[ gallery__summary ] [ measure-long flow-space-800 ]">
              Le Studio Guy Rhéaume est à la fine pointe de la technologie numérique. Il conserve toutefois les avantages tant recherchés de la technologie analogique. </p>
           
          <details>
            <summary class="button [ text-300 md:text-300 ]">Voir la liste des équipements</summary>
            <ul class="equipement-list">
              <li>Logic 10 / 256 pistes numériques</li>
              <li>Console MCI 400 / Burr-Brown</li>
              <li>Cartes Audio 24/96 khz</li>
              <li>Black Lion Audio</li>
              <li>Dynaudio acoustics</li>
              <li>Euphonix MC Control</li>
              <li>Mixage 24/96 khz</li>
              <li>Total recall - Total reset</li>
              <li>Sony Oxford plug-ins</li>
              <li>SSL 4000 Collection</li>
              <li>Prism Sound / Preamps</li>
              <li>SuPRE tube preamps</li>
              <li>Apogee rosetta 200</li>
              <li>WAVES L2 digital limiter</li>
            </ul>
          </details>
         
          <h3 class="[ text-500 md:text-500 text-shadow ]">
           En écoute
           </h3>
          <article class="auto-grid extraits-chansons">
            
          <figure>
          <figcaption>
            On ne fait que passer - Ginette Reno</figcaption>
            <audio class="js-player" id="plyr-0" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/f_auto/v1620674043/studio-guy-rheaume/on-ne-fait-que-passer.mp3" type="audio/mp3">
            </audio>
          </figure>
          <figure>
    <figcaption>Rock'n Roll Sister - Guy Rhéaume</figcaption>
  <audio class="js-player" id="plyr-2" crossorigin>
    <source src="https://res.cloudinary.com/wikilouis/video/upload/f_auto/v1620674043/studio-guy-rheaume/rock-n-roll-sister.mp3" type="audio/mp3">
  </audio>
  </figure>
          <figure>
            <figcaption>Blue Afternoon - Guy Rhéaume</figcaption>
    <audio class="js-player" id="plyr-3" crossorigin>
      <source src="https://res.cloudinary.com/wikilouis/video/upload/f_auto/v1620674043/studio-guy-rheaume/blue-afternoon-1-minute.mp3" type="audio/mp3">
    </audio>
  </figure>

  <figure>
    <figcaption>Sweet Bossa Nova - Guy Rhéaume</figcaption>
    <audio class="js-player" id="plyr-4" crossorigin>
      <source src="https://res.cloudinary.com/wikilouis/video/upload/f_auto/v1620674043/studio-guy-rheaume/sweet-bossa-nova-1-minute.mp3">
    </audio>
  </figure>
  <figure>
    <figcaption>Elle a cassé ma gueule - Matinda</figcaption>
  <audio class="js-player" id="plyr-5" crossorigin>
    <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755733/studio-guy-rheaume/elle-a-casse-ma-gueule.mp3" type="audio/mp3">
  </audio>
  </figure>
  <figure>
          <figcaption>My prayer to 1</figcaption>
            <audio class="js-player" id="plyr-6" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755732/studio-guy-rheaume/mastering-my-prayer-to-1.mp3" type="audio/mp3">
            </audio>
          </figure>
          <figure>
          <figcaption>My prayer to 4</figcaption>
            <audio class="js-player" id="plyr-7" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755726/studio-guy-rheaume/mastering-my-prayer-to-4.mp3" type="audio/mp3">
            </audio>
          </figure>
          

  <figure>
          <figcaption>My prayer to 7</figcaption>
            <audio class="js-player" id="plyr-8" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755728/studio-guy-rheaume/mastering-my-prayer-to-7.mp3" type="audio/mp3">
            </audio>
          </figure>
          
  <figure>
          <figcaption>Ainsi d'suite - Le gars, là</figcaption>
            <audio class="js-player" id="plyr-9" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755729/studio-guy-rheaume/ainsi-de-suite.mp3" type="audio/mp3">
            </audio>
          </figure>
    <figure>
          <figcaption>Faut c'qui faut - Le gars, là</figcaption>
            <audio class="js-player" id="plyr-10" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755721/studio-guy-rheaume/faut-cqui-faut.mp3" type="audio/mp3">
            </audio>
          </figure>  
          <figure>
          <figcaption>Raise Your Glass - Café Vanille</figcaption>
            <audio class="js-player" id="plyr-11" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755728/studio-guy-rheaume/raise-your-glass.mp3" type="audio/mp3">
            </audio>
          </figure>
          <figure>
          <figcaption>I love your Mmm Mmm - Aaron Esteban</figcaption>
            <audio class="js-player" id="plyr-12" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755725/studio-guy-rheaume/i-love-yr-mmm-mmm.mp3" type="audio/mp3">
            </audio>
          </figure>
          <figure>
          <figcaption>The last farewell Part III (The final punishment) - Red Sand - 1759</figcaption>
            <audio class="js-player" id="plyr-13" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755723/studio-guy-rheaume/last-farewell-3.mp3" type="audio/mp3">
            </audio>
          </figure>
          <figure>
          <figcaption>Soldiers - Red Sand - 1759</figcaption>
            <audio class="js-player" id="plyr-14" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755723/studio-guy-rheaume/soldiers.mp3" type="audio/mp3">
            </audio>
          </figure>
          <figure>
          <figcaption>Stella - Jazz Trio</figcaption>
            <audio class="js-player" id="plyr-15" crossorigin>
              <source src="https://res.cloudinary.com/wikilouis/video/upload/v1620755729/studio-guy-rheaume/stella.mp3" type="audio/mp3">
            </audio>
          </figure>
</article>
<h2 class="[ text-700 md:text-700 text-shadow ]">
  Coup d'oeil
  </h2>
     <article>        
            <ul class="[ studio-feed__list ] [ flow-space-800 ]">
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/studio-guy-rheaume/studiogr8a-5.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/studio-guy-rheaume/studiogr6d.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6c.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6f.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-4.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8aa.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-8.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-7.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-6.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr2.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr11.jpg" alt=""></li>

      </ul>
    </article>
    
    </div>
  </div>
  