 <div id="studio" class="[ panel ] [ bg-tertiary ]">
    <div class="wrapper">
      <article class="[ gallery ] [ flow flow-space-800 ]">
        
          <h2 class="[ text-700 md:text-900 text-shadow ]">
           Bienvenue
          </h2>
          <p class="[ gallery__summary ] [ measure-short flow-space-800 ]">
            Le Studio Guy Rhéaume est à la fine pointe de la technologie numérique. Il conserve toutefois les avantages tant recherchés de la technologie analogique. 
          
          <details>
            <summary class="button [ text-300 md:text-300 ]">Voir la liste des équipements</summary>
            <ul class="equipement-list">
              <li>Logic 10 / 256 pistes numériques</li>
              <li>Console MCI 400 / Burr-Brown</li>
              <li>Cartes Audio 24/96 khz</li>
              <li>Black Lion Audio</li>
              <li>Dynaudio acoustics</li>
              <li>Euphonix MC Control</li>
              <li>Mixage 24/96 khz</li>
              <li>Total recall - Total reset</li>
              <li>Sony Oxford plug-ins</li>
              <li>SSL 4000 Collection</li>
              <li>Prism Sound / Preamps</li>
              <li>Maselec Master MMA-4</li>
              <li>SuPRE tube preamps</li>
              <li>Apogee rosetta 200</li>
              <li>WAVES L2 digital limiter</li>
            </ul>
          </details>
          </p>
          <ul class="player [ text-300 md:text-300 ]">
            <li><a href="https://res.cloudinary.com/wikilouis/video/upload/f_auto/v1620674043/studio-guy-rheaume/on-ne-fait-que-passer.mp3"><strong>On ne fait que passer</strong> - Ginette Reno</a></li>
            <li><a href="/mp3/rock-n-roll-sister.mp3"><strong>Rock'n roll sister</strong> - Guy Rheaume</a></li>
            <li><a href="/mp3/blue-afternoon-1-minute.mp3"><strong>Blue afternoon</strong> - Guy Rheaume</a></li>
            <li><a href="/mp3/sweet-bossa-nova-1-minute.mp3"><strong>Sweet bossa nova</strong> - Guy Rheaume</a></li>
            
            <li><a href="/mp3/elle-a-casse-ma-gueule.mp3"><strong>Elle a cassé ma gueule</strong> - Matinda</a></li>
            <li><a href="/mp3/mastering-my-prayer-to-1.mp3"><strong>My prayer to 1</strong></a></li>
            <li><a href="/mp3/mastering-my-prayer-to-4.mp3"><strong>My prayer to 4</strong></a></li>
            <li><a href="/mp3/mastering-my-prayer-to-7.mp3"><strong>My prayer to 7</strong></a></li>
            
              <li><a href="/mp3/ainsi-de-suite.mp3"><strong>Ainsi d'suite</strong> - Le gars, là</a></li>
              <li><a href="/mp3/faut-cqui-faut.mp3"><strong>Faut c'qui faut</strong> - Le gars, là</a></li>
              <li><a href="/mp3/raise-your-glass.mp3"><strong>Raise Your Glass</strong> - Café Vanille</a></li>
               <li><a href="/mp3/i-love-yr-mmm-mmm.mp3"><strong>I love your Mmm Mmm</strong> - Aaron Esteban</a></li>
                <li><a href="/mp3/last-farewell-3.mp3"><strong>The last farewell Part III (The final punishment)</strong> - Red Sand - 1759</a></li>
                <li><a href="/mp3/soldiers.mp3"><strong>Soldiers</strong> - Red Sand - 1759</a></li>
                <li><a href="/mp3/stella.mp3"><strong>Stella</strong> - Jazz Trio</a></li>
             </ul>
             
            <ul class="[ studio-feed__list ] [ flow-space-800 ]">
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/studio-guy-rheaume/studiogr8a-5.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/studio-guy-rheaume/studiogr6d.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6c.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6f.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-4.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8aa.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-8.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-7.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-6.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr2.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr11.jpg" alt=""></li>

      </ul>
    </article>
    
    </div>
  </div>