 <div class="[ panel dot-shadow ] [ bg-tertiary ]">
    <div class="wrapper">
      <article class="[ gallery ] [ flow flow-space-800 ]">
        <figcaption class="[ gallery__content ] [ flow ]">
          <h2 class="[ text-700 md:text-900 ]">
           Un studio pour tous.
          </h2>
          <p class="[ gallery__summary ] [ measure-short flow-space-300 ]">
            Le Studio Guy Rhéaume est à la fine pointe de la technologie numérique. Il conserve toutefois les avantages tant recherchés de la technologie analogique. 
          </p>
          
        </figcaption>
        
        <figure class="[ gallery__item ] [ flow ]">
          
            <ul class="[ studio-feed__list ]">
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-5.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr7.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6d.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6c.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6f.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr6e.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-4.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8aa.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-8.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-7.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr8a-6.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr7b.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr7b-2.jpg" alt=""></li><li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr2.jpg" alt=""></li>
        <li><img class="radius" src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/v1615213632/studio-guy-rheaume/studiogr11.jpg" alt=""></li>

      </ul>
         
          
        </figure>
        
      </article>
      
    </div>
  </div>