ul.player {
    list-style-type:none;
    margin:0px;
    padding:0px;
   }
   
   ul.player li {
    margin-bottom:2px;
   }
   
   ul.player li a,
   ul.player li a.sm2_link {
    /* assume all items will be sounds rather than wait for onload etc. in this example.. may differ for your uses. */
    display:inline-block;
    padding-left:22px;
    min-height:16px;
    vertical-align: middle;
    background-color:transparent;
    border-radius:3px;
    padding:3px 3px 3px 25px;
    min-width:19em;
    _width:19em; /* IE 6 */
    text-decoration:none;
    font-weight:normal;
    color:#f6f9ff;
   }
   
   ul.player li a.sm2_link {
    transition: background-color 0.1s linear;
   }
   
   ul.player li a, /* use a.sm2_link {} if you want play icons showing only if SM2 is supported */
   ul.player li a.sm2_paused:hover,
   ul.player li a.sm2_link:hover {
    background-image:url(../image/icon_play.png);
    background-position:3px 50%;
    background-repeat:no-repeat;
    _background-image:url(../image/icon_play.gif); /* IE 6 */
   }
   
   ul.player li a.sm2_link:hover {
    /* default hover color, if you'd like.. */
    background-color:#003366;
    color:#fff;
   }
   
   ul.player li a.sm2_paused {
    background-color:#999;
   }
   
   ul.player li a.sm2_paused:hover {
    background:#003366 url(../image/icon_play.png) no-repeat 3px 50%;
    _background-image:url(../image/icon_play.gif);
   }
   
   ul.player li a.sm2_playing,
   ul.player li a.sm2_playing:hover {
    background:#003366 url(../image/icon_pause.png) no-repeat 3px 50%;
    _background-image:url(../image/icon_pause.gif);
    text-decoration:none;
   }
   

   