{% set ctaPrefix = cta %}

{% if ctaContent %} 
  {% set ctaPrefix = ctaContent %}
{% endif %}

<article id="contact" class="[ cta ] [ panel ]">
  <div class="wrapper">
    <div class="[ flow ]">
      <h2 class="[ cta__heading ] [ headline ] [ text-shadow ]">{{ ctaPrefix.title }}</h2>
      <p class="[ cta__summary ] [ measure-short ] [ bg-secondary-shade ] [ radius ] [  text-500 md:text-600 ]">{{ ctaPrefix.summary }}
      <br><a href="mailto:info@guyrheaume.com" target="_blank">info@guyrheaume.com</a>
      <br>450 449-6052 </p>
      
      <br>
      <br>
      
    </div>
    
  </div>
</article>
