{% set ctaPrefix = cta %}

{% if ctaContent %} 
  {% set ctaPrefix = ctaContent %}
{% endif %}

<article id="contact" class="[ cta ] [ panel ]">
  <div class="wrapper">
    <div class="[ flow ]">
      <h2 class="[ cta__heading ] [ headline ] [ text-shadow ]">{{ ctaPrefix.title }}</h2>
      <p class="[ cta__summary ] [ measure-long ] [ bg-secondary-shade ] [ radius ] [  text-400 md:text-400 ]">{{ ctaPrefix.summary }}</p>
      <div class="cta__action">
        <a class="button" href="{{ ctaPrefix.buttonUrl }}">{{ ctaPrefix.buttonText }}</a>
      </div>
      <br>
      <br>
      
    </div>
    
  </div>
</article>
