<article class="[ studio-feed ] [ panel ] [ bg-tertiary ]">
  <div class="[ wrapper ] [ flow flow-space-300 ]">
    <h3 class="[ studio-feed__heading ] [ headline ] [ md:measure-micro ] [ text-shadow ]">
      Atmosphère conviviale
    </h3>

    <p class="[ gallery__summary ] [ measure-long flow-space-800 ]">
      La salle d'enregistrement tout en bois peut recevoir une section complète de cordes de cuivres ou un choeur. Les
      dimensions de la salle sont: 13' de large x 25'6" de long. Tout l'équipement de haute qualité est disponible sans
      frais supplémentaires. À titre d'exemple, votre session d'enregistrement pourrait ressembler à ceci.
    </p>
    <div class="[ studio-feed__items ][ flow-space-700 ]">
      <ul class="studio-feed__list">
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr40.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr30c.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr30b.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr25.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr49.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr26.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr43.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr30.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr42.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr29.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr30d.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr23.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr41.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr27.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr47.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr24.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr45.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr44.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr46.jpg"
            alt=""></li>
        <li><img class="radius"
            src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_256,w_448/e_tint:50:pink/studio-guy-rheaume/studiogr22.jpg"
            alt=""></li>

      </ul>

    </div>
  </div>
</article>