
<article class="[ studio-feed ] [ dot-shadow panel ] [ bg-tertiary-glare ]">
  <div class="[ wrapper ] [ flow flow-space-300 ]">
    <h2
      class="[ studio-feed__heading ] [ headline ] [ md:measure-micro ]"
      data-highlight="secondary"
    >
      {{ studioFeed.title }}
    </h2>
    <p class="visually-hidden" id="studio-feed-desc">
      A collection of images from around our studio and the people who work here.
    </p>
    <div class="[ studio-feed__items ] [ flow-space-700 ]">
      <ul class="studio-feed__list">
        <li><img src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_192,w_256/v1615213632/studio-guy-rheaume/studiogr8c.jpg"></li>
        <li><img src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_192,w_256/v1615213632/studio-guy-rheaume/studiogr8a-4.jpg"></li>
        <li><img src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_192,w_256/v1615213632/studio-guy-rheaume/studiogr12-b.jpg"></li>
        <li><img src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_192,w_256/v1615213632/studio-guy-rheaume/studiogr11.jpg"></li>
        <li><img src="https://res.cloudinary.com/wikilouis/image/upload/c_scale,f_auto,h_192,w_256/v1615213632/studio-guy-rheaume/studiogr8a.jpg"></li>
        
        
      </ul>
     
    </div>
  </div>
</article>

